.container{
  height: 50px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
  margin-top: 20px;
  font-size: 20px;
}
.item1{
  height: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
}